body {
    margin: 0;
    padding: 0;
}

.no-border {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    margin-bottom: 5%;
}

.p-top {
    padding-top: 20%;
}

.font-plus {
    font-size: 1.7rem;
}

.gray {
    color: gray;
}

.text-center {
    text-align: center;
}

#relative {
    position: relative;
    top: 20%;
}

.section {
    height: 100vh;
    width: 100vw;
    /*background-color: #BEE3F5;*/
    /*background-color: #FCC3C3;*/
    background-color: #D2D2D2;
}

#section0 {
    position: relative;
}

#days, #hours, #min, #seconds {
    margin: 10px 0;
}

#babyS{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:black;
    font-size: 1rem;
    text-align:center;
    transition: all 0.2s;
}
#babyS:hover{
    color:#000000;
    background-image: linear-gradient(to right, #BEE3F5 , #FCC3C3);
    background-color:#FFFFFF;
}
@media all and (max-width:30em){
    #babyS {
        display: block;
        margin: 0.4em auto;
    }
}
